// widescreens
@include mediaXl{
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}
// dektops & (large) laptops
@include mediaLg{
  .projects{
     grid-template-columns: repeat(3, 1fr);
  }
}
// tablets & (small) laptops
@include mediaMd{
  main {
    align-items: center;
    text-align: center;
    
    .lg-heading{
        line-height: 1;
        margin-bottom: 1rem;
    }
  }
  ul.menu-nav, 
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 150px;

    &.show{
        transform: translate3d(0,0,0);
    }
  }
  .menu-nav{
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px
  }
  .menu-branding{
    height: 25vh;
    // transform: tranlate3d(100%, 0, 0)
    transform: translate3d(100vw,0,0);
    @include easeOut;
  
    .portrait{
      // padding-bottom: 5vh;
      height: 25vh !important;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain !important;
      background: url('../img/watermark.png');
      width: 250px;
      height: 100px;
      // @include ;
    }
  }

  .about-info {
    grid-template-areas: 
    'bioimage'
    'bio'
    'job1'
    'job2'
    'job3';

    grid-template-columns: 1fr;
  }
    .projects{
     grid-template-columns: repeat(2, 1fr);
  }
}

  // smartphones
  @include mediaSm{
      .portrait{
      // padding-bottom: 5vh;
      // height: 25vh !important;
      // background-position: center;
      // background-repeat: no-repeat;
      // background-size: cover !important;
      // background: url('../img/watermark.png');
      width: 150px;
      height: 75px;
      // @include ;
    }
    main#home h1 {
        margin-top: 10vh;
    }
    .projects{
     grid-template-columns: 1fr;
    }
  }

